<div class="titleContainer">
    <h3 *ngIf="frameModel?.title != undefined">{{frameModel.title}}</h3>
    <ng-container *ngTemplateOutlet="saveButtons"/>
</div>
<h4 *ngIf="frameModel?.name != undefined">{{frameModel.name}}</h4>
<P>Liste des boutons paramètrables.</P>
<ng-content/>
<ng-container *ngTemplateOutlet="saveButtons"/>

<!-- template de bouton save utilisé en header & footer. -->
<ng-template #saveButtons>
    <p class="buttonSaveContainer">
        <!-- template pour le spinner 'global' -->
        <ng-container *ngIf="frameModel.inLoading">
            <mat-icon><mat-spinner diameter="20"/></mat-icon>
        </ng-container>
        <button 
            *ngIf="frameModel.saveVisible"
            (click)="frameModel.saveAction!.next(undefined)"
            [disabled]="!frameModel.actionEnabled || frameModel.inLoading || formData.invalid || formData.pristine"
            mat-raised-button
            >Save</button>
        <button 
            *ngIf="frameModel.saveVisible"
            [disabled]="!frameModel.actionEnabled || frameModel.inLoading || formData.invalid || formData.pristine"
            (click)="frameModel.saveCloseAction!.next(undefined)"
            mat-raised-button
            >Save & close</button>
        <button 
            (click)="frameModel!.closeAction!.next(undefined)"
            [disabled]="frameModel.inLoading"
            mat-raised-button
            >close</button>
    </p>
</ng-template>